In [1]:
import pandas as pd
names = ["Alice", "Bob", "Charlie"]
series_names = pd.Series(names)
print(series_names)

0      Alice
1        Bob
2    Charlie
dtype: object

In [2]:
import pandas as pd
data = {
    "name": ["Anna", "Bob", "Charlie"],
    "age": [25, 30, 35]
}
df = pd.DataFrame(data)
print(df)

      name  age
0     Anna   25
1      Bob   30
2  Charlie   35

In [3]:
import pandas as pd
data = {
    "name": ["Anna", "Bob", "Charlie"],
    "age": [25, 30, 35]
}
df = pd.DataFrame(data)
print(df.head(2))

   name  age
0  Anna   25
1   Bob   30

In [4]:
import pandas as pd
data = {
    "name": ["Anna", "Bob", "Charlie"],
    "age": [25, 30, 35]
}
df = pd.DataFrame(data)
print(df['age'])

0    25
1    30
2    35
Name: age, dtype: int64

In [5]:
import pandas as pd
data = {
    "name": ["Anna", "Bob", "Charlie"],
    "age": [25, 30, 35]
}
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [6]:
import pandas as pd
data = {
    "name": ["Anna", "Bob", "Charlie"],
    "age": [25, 30, 35]
}
df = pd.DataFrame(data)
filtered_df = df[df['age'] > 25]
print(filtered_df)

      name  age
1      Bob   30
2  Charlie   35

In [7]:
import pandas as pd
data = {
    "name": ["Anna", "Bob", "Charlie"],
    "age": [25, 30, 35]
}
df = pd.DataFrame(data)
df['City'] = ["London", "New York", "Berlin"]
print(df)

      name  age      City
0     Anna   25    London
1      Bob   30  New York
2  Charlie   35    Berlin

In [8]:
import pandas as pd
data = {
    "name": ["Anna", "Bob", "Charlie"],
    "age": [25, 30, 35]
}
df = pd.DataFrame(data)
print(df['age'].describe())

count     3.0
mean     30.0
std       5.0
min      25.0
25%      27.5
50%      30.0
75%      32.5
max      35.0
Name: age, dtype: float64

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"A": [1, 2, np.nan]})
print("Original DataFrame:\n", df)
df_filled = df.fillna(0)
print("\nDataFrame after filling missing value:\n", df_filled)

Original DataFrame:
      A
0  1.0
1  2.0
2  NaN

DataFrame after filling missing value:
      A
0  1.0
1  2.0
2  0.0